@model IEnumerable<SSMS.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Category List</h1>
<hr />

<table class="table table-dark">
    <thead>
        <tr>
            <th>SL/No</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            @*<th>Action</th>*@
        </tr>
    </thead>
    <tbody>
        @{ var sl = 1;}
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @(sl++)
                </td>
                <td>
                    @Html.DisplayFor(c => category.Name)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>


